.main-nav {
  background-color: 333;
  padding: 10px;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}



.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main-nav li {
  margin: 0 15px;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  transition: all 0.2s ease;
}
.main-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 24px; /* adjust the value as needed */
  padding: 10px;
  transition: all 0.2s ease;
}

ul li a {
  font-size: 24px; /* This changes the font of links */
}

.main-nav a:hover {
  background-color: #fff;
  color: #333;
}





.icon-linkedin {
  background-color: black;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.icon-container i {
  font-size: 40px; /* adjust this value to make the icon bigger or smaller */
}

.icon-container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}





body {
  color: white;
}

a {
  color: white;
}


.references li {
  padding-bottom: 20px;
}

li {
  margin-bottom: 15px;
}